@import "constans.scss";
@import "callouts.scss";

body{
	font-size: $font-size;
}

.app{
  height: 100%;
}


.header{
  height: 50px;
}

.map{

  -webkit-border-radius: 30%;
  border-radius: 30%;

  >div {
    height: calc(100% - 51px);
    height: -webkit-calc(100% - 51px);
    height: -moz-calc(100% - 51px);
    height: calc(100% - 51px);

  }; 

  .text{
    position: relative;
    height: 30px !important; 
    width:30px !important;;
    text-align: center;
    color:#000;
    font-size: 60%;

  }

  .location-marker {
    height: 30px !important; 
    width:30px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: rgba(169, 171, 169, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(93, 92, 91), 0 0 0 8px rgba(130, 118, 105, 0.24);
    padding-top: 10px;  
  }

  .location-marker:hover{
    -webkit-transition: all 0.1s linear; 
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(93, 92, 91), 0 0 0 8px rgba(130, 118, 105, 0.24);
    z-index: 100000000000 !important;
  }


  .geocoding-marker-new {
    height: 30px !important; 
    width:30px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: rgba( 92, 184, 92, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(50, 205, 50), 0 0 0 8px rgba(34, 139, 34, 0.24);
    padding-top: 10px;

  }

  .geocoding-marker-new:hover {
    -webkit-transition: all 0.1s linear; 
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(50, 205, 50), 0 0 0 8px rgba(34, 139, 34, 0.24);
    z-index: 100000000000 !important;
  }

  .geocoding-marker-updated {
    height: 30px !important; 
    width:30px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: rgba(253, 154, 0, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24);
    padding-top: 10px;

  }

  .geocoding-marker-updated:hover {
    -webkit-transition: all 0.1s linear;
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.7), 0 0 0 6px rgba(255, 88, 1, 0.7), 0 0 0 8px rgba(242, 129, 0, 0.7); 
    z-index: 100000000000 !important;
  }

  .geocoding-marker-deleted {
    height: 30px !important; 
    width:30px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: rgba(217, 83, 79, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(178, 34, 34), 0 0 0 8px rgba(255, 18, 5, 0.24);
    padding-top: 10px;

  }

  .geocoding-marker-deleted:hover {
    -webkit-transition: all 0.1s linear; 
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(178, 34, 34), 0 0 0 8px rgba(255, 18, 5, 0.24);
    z-index: 100000000000 !important;
  }

  .geocoding-marker-existing {

    height: 30px !important; 
    width:30px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: rgba(255, 255, 0, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(238, 221, 130, 0.4), 0 0 0 8px rgba(255, 215, 0, 0.24) !important;
    padding-top: 11px !important;

  }

  .geocoding-marker-existing:hover{
    -webkit-transition: all 0.1s linear; 
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgba(238, 221, 130, 0.4), 0 0 0 8px rgba(255, 215, 0, 0.24);
    z-index: 100000000000 !important;
  }

}

.form-inline .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.spacing{
  margin-left: 5px !important;
}

.spacingLg{
  margin-left: 10px !important;
  padding:5px;

}


.leaflet-container {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

.location-list {
  overflow: auto;
  max-height: 400;
}

.gazetteer-locations{
   select{
    text-transform: capitalize;
   }
}


.show-location-button {
  float: right;
}

#locations {

	position: absolute;
	right: 10px;
	top: 150px;
	width: 280px;
	z-index: 100;
	
	.location {
		cursor: pointer;
	}
	
	.location:hover {
		background-color: #eee;
	}
	
  .list-group-item {
    padding: 10px;
  }

  .location-item {
    font-size: 0.9em;
  }
}


#project-info {

	position: absolute;
	left: 10px;
	top: 80px;
	width: 500px;
  max-height: 600px;
  z-index: 99;
}

.handle {
	cursor: move;
	font-family: 'Roboto', sans-serif;
}

.small-heading {
	font-size: 0.8em ! important;
}


.opacity-10 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

.opacity-20 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

.opacity-50 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.opaque {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#locations {
  .list{
    max-height: 500px;
    overflow-y:auto;
  }
}

$location: rgba(169, 171, 169, 0.8);
$existing: rgba(255, 255, 0, 0.8);
$new: rgba(92, 184, 92, 0.8);
$updated: rgba(224, 149, 44, 0.8);
$deleted: rgba(217, 83, 79, 0.8);

.popup-location{
  @extend .popup;
  border: 1px solid $location !important;
  h4 {
    color: $location !important;
  }
}

.popup-existing {
  @extend .popup;
  border: 1px solid $existing !important;
  h4 {
    color: $location !important;
  } 
}

.popup-new{
  @extend .popup;
  border: 1px solid $new !important;
  h4 {
    color: $location !important;
  }
}

.popup-updated {
  @extend .popup;
  h4 {
    color: $location !important;
  }
}

.popup-deleted {
  @extend .popup;
  border: 1px solid $deleted !important;
  h4 {
    color: $location !important;
  }
}

.popup{
  width:430px;
  min-width: 200px;
  padding: 10px;
  margin: 5px 0;
  padding-right: 10px;
  border: 1px solid #f0ad4e;
  border-left-width: 5px !important;
  border-radius: 3px;
  
  button{
    margin-right:15px;
  }
  h4 {
    color: #f0ad4e;
  }

  p {
    margin: 2px;
    padding:2px;
  }
}


.submit-container{
  position: absolute;
  bottom: 30px;
  right: 60px;
  padding:0;
  z-index: 10000;
  .btn{
    margin: 3px;
  }
}

.dataEntryEdition {
  @extend .dataEntry;
  border: 1px solid #e0952c !important;
}

.dataEntry{
  width:565px;
  min-height: 200px;
  padding: 10px;
  margin: 5px 0;
  padding-right: 10px;
  border: 1px solid #5cb85c;
  border-left-width: 5px !important;
  border-radius: 3px;

  
  .form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  }
  
  .big{

   height: 26px;
   font-size: 12px;
   margin-bottom: 4px;

 } 
 .success{
   color:#449d44
 } 

 .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color:#FFFFFF;
}

button{
  margin-right:15px;
}

h4.danger{
  color:d9534f;
  font-size: 14px;
}

p {
  margin: 2px;
  padding:2px;
}
}


.has-error{
  label{
    color:#a94442;
  }
}


.navbar{

  margin-bottom:0px !important
}


.introjs-helperNumberLayer {
  position: absolute;
  visibility: visible;
  top: -7px;
  left: -22px;
  z-index: 9999999999 !important;
  /* padding: 2px; */
  font-family: Arial, verdana, tahoma;
  font-size: 10px;
  /* font-weight: bold; */
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #ff3019;
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
  width: 20px;
  height: 20px;
  line-height: 10px;
  border: 2px solid white;
  padding-top:3px;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}



.modal{
  display:block;

  .introjs-fixParent{
   left: 0px !important;
   top: 0px !important;
   right: 0px !important;
 }
}



.help {
    font-size: 14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 22px !important;
    width: 22px !important;
      background-color: #0799b1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.dropdown-menu{
  position:absolute;
  z-index:1000000;
}



.dropdown-menu > li > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
   margin-bottom: 0px;
}


.mini{
    margin-left:15px;
    margin-top: -5px;
    margin-bottom: 2px;
    font-size: 70%;
    button{
      font-size:80%;
    }
}

.centerd{
  padding:0px 0px 0px 0px;
  text-align: center;

}
