
$black:000000;
$darkGray:#666666;
$green:#669933;
$bigSize: 16px;

$big:12px;
$regular:10px;
$small:9px;

@mixin fontDefault($size,$color){
  	font-family: 'Open Sans', sans-serif;
  	color:$color;
  	size:$size

}