@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$black:000000;
$darkGray:#666666;
$green:#669933;
$bigSize: 16px;
$giant:18px;
$huge:16px;
$big:14px;
$large:12px;
$medium:11px;
$regular:10px;
$small:9px;


@mixin fontDefault($size,$color,$weight:"normal"){
	font-family: 'Open Sans', sans-serif ;
	color:$color ;
	font-size:$size ;
	font-weight: $weight;

}

@mixin middle(){
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height:auto;

}

@mixin grayBorder(){
	border:1px solid rgb(243,243,243);
}

@mixin boxSizeRegular{
	height:22;
}

@mixin boxSizeBig(){
	height:35px;
}


@mixin inputText(){
	@include fontDefault($regular,$black);
	@include boxSizeRegular();
	@include grayBorder();
	color:$black; 
}

.leaflet-container {
	font:auto; 
	@include fontDefault($large,$darkGray,100);
}





@import "btn.scss";
@import "lists.scss";
@import "nav-tabs.scss";
@import "forms.scss";

/*ui modules*/
@import 'header.scss';
@import 'project-info.scss';
@import 'search.scss';

@import "callouts.scss";




body{
	@include fontDefault($regular,$black);
}

h1{
	@include fontDefault($giant,$black);
}

h2{
	@include fontDefault($huge,$black);
}

h3{
	@include fontDefault($big,$black);
}


h4{
	@include fontDefault($large,$black);
}


.text-giant{@include fontDefault($giant,$black);}
.text-huge{@include fontDefault($huge,$black);}
.text-big{@include fontDefault($big,$black);}
.text-large{@include fontDefault($large,$black);};
.text-medium{@include fontDefault($medium,$black);};
.text-regular{@include fontDefault($regular,$black);};
.text-small{@include fontDefault($small,$black);};




/*General styles*/
.panel {
	margin-bottom: 0px;
	background-color: #fff;
	border: 0px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.help {
	@include middle();
	width: 13px;
	height: 13px !important;
	background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAMAAwDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABwID/8QAIhAAAgICAQQDAQAAAAAAAAAAAQIDBAURBgASEyEHFUFh/8QAFAEBAAAAAAAAAAAAAAAAAAAABf/EAB4RAAIBAwUAAAAAAAAAAAAAAAECAAMxkRESQXGx/9oADAMBAAIRAxEAPwBNy2MmzHH8fnJWSzfvkNHDNGsoEkhHiiUOCI0Ud3cV05I3vfU8o5pc4Flnw9WBshVKieEzMztCrevH3b2QCCRv3ogfnWfyNmLXCsjVr4jxvVtSmysFhe9YJCx2Y9aI9knRJGz6A6QePYWn9alm0gu27erE09lVd2ZlH80AAAAAAAB0szBED1BqvA8xBVQu5Skdri56vmf/2Q=="); 
	background-repeat: no-repeat;
	cursor: pointer;
}

.separator{
	@include middle();
	height:14px;
	width:1px;
	background-color:rgb(241,241,241);
	margin-left:7px;
	margin-right:7px;

}

.middle{
	@include middle();
}


.green{
	color:$green !important;
}


.btn{
	color:#FFF;
	margin:2px;

}



.bolder{
	font-weight: bold;
}





/*Map*/
@import "markers.scss";
.map{

	-webkit-border-radius: 30%;
	border-radius: 30%;

	>div {
		height: calc(100% - 51px);
		height: -webkit-calc(100% - 51px);
		height: -moz-calc(100% - 51px);
		height: calc(100% - 51px);

	}
}



