

.marker{
 height: 30px !important; 
 width:30px !important;
 -webkit-border-radius: 100%;
 border-radius: 100%;
 background-clip: padding-box;
 padding-top: 9px !important;
 text-align: center;
 .text{
  @include fontDefault(8px,$black);

} 
}


.location-marker {
 background-color: rgba(169, 171, 169, 0.8);
 box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(93, 92, 91), 0 0 0 8px rgba(130, 118, 105, 0.24);
 padding-top: 10px;  
}

.location-marker:hover{
  -webkit-transition: all 0.1s linear; 
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(93, 92, 91), 0 0 0 8px rgba(130, 118, 105, 0.24);
  z-index: 100000000000 !important;
}



.geocoding-marker-new {
  background-color: rgba( 92, 184, 92, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(50, 205, 50), 0 0 0 8px rgba(34, 139, 34, 0.24);
  

}

.geocoding-marker-new:hover {
  -webkit-transition: all 0.1s linear; 
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(50, 205, 50), 0 0 0 8px rgba(34, 139, 34, 0.24);
  z-index: 100000000000 !important;
}


.geocoding-marker-updated {
  background-color: rgba(253, 154, 0, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24);
}

.geocoding-marker-updated:hover {
  -webkit-transition: all 0.1s linear;
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.7), 0 0 0 6px rgba(255, 88, 1, 0.7), 0 0 0 8px rgba(242, 129, 0, 0.7); 
  z-index: 100000000000 !important;
}

.geocoding-marker-deleted {
  background-color: rgba(217, 83, 79, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgb(178, 34, 34), 0 0 0 8px rgba(255, 18, 5, 0.24);


}

.geocoding-marker-deleted:hover {
  -webkit-transition: all 0.1s linear; 
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgb(178, 34, 34), 0 0 0 8px rgba(255, 18, 5, 0.24);
  z-index: 100000000000 !important;
}

.geocoding-marker-existing {
  background-color: rgba(255, 255, 0, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(238, 221, 130, 0.4), 0 0 0 8px rgba(255, 215, 0, 0.24) !important;
}

.geocoding-marker-existing:hover{
  -webkit-transition: all 0.1s linear; 
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.6), 0 0 0 6px rgba(238, 221, 130, 0.4), 0 0 0 8px rgba(255, 215, 0, 0.24);
  z-index: 100000000000 !important;
}

/*
.leaflet-minimap-container{
  .marker{
    height: 15px !important; 
   width:15px !important;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   background-clip: padding-box;
   padding-top: 4px !important;
   text-align: center;
   .text{
    @include fontDefault(6px,$black);

  } 
}
}*/